IMS/IMS/Service References/DataServiceRef/DataService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://imsservice20191106112917.azurewebsites.net/Services/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IMSService.Entities" />
  <xs:import schemaLocation="https://imsservice20191106112917.azurewebsites.net/Services/DataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetMenuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetMenuListResult" nillable="true" type="q1:ArrayOfMenuMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateMenuMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objMenu" nillable="true" type="q2:MenuMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateMenuMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateMenuMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMenuMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLookupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLookupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLookupNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSubLookupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSubLookupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSubLookupNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDeleteLookupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteSubLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LookupID" type="xs:int" />
        <xs:element minOccurs="0" name="SubLookupID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteSubLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDeleteSubLookupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetLookupListResult" nillable="true" type="q3:ArrayOfLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubLookupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LookupType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubLookupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetSubLookupListResult" nillable="true" type="q4:ArrayOfLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheetData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="SheetType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UploadSheetResult" nillable="true" type="q5:TupleOfstringstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SheetType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserNameAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserNameAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserNameAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="IsValidUserResult" nillable="true" type="q6:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetUserListResult" nillable="true" type="q7:ArrayOfUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q8:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objUser" nillable="true" type="q9:UserDetails" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateUserDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetProductListResult" nillable="true" type="q10:ArrayOfProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q11:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateProductMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objProduct" nillable="true" type="q12:Product" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateProductMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateProductMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="CheckStockResult" nillable="true" type="q13:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetPurchaseDetailsResult" nillable="true" type="q14:ArrayOfPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeletePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objPurchase" nillable="true" type="q15:Purchase" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeletePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDeletePurchaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetSalesDetailsResult" nillable="true" type="q16:ArrayOfSales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objSales" nillable="true" type="q17:Sales" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDeleteSalesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamagedGoodsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DamageDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamagedGoodsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetDamagedGoodsDetailsResult" nillable="true" type="q18:ArrayOfDamage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objDamage" nillable="true" type="q19:Damage" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDeleteDamageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDeleteDamageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objInvoice" nillable="true" type="q20:InvoiceMaster" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetInvoiceDetailsResult" nillable="true" type="q21:InvoiceMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenInvoiceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="toInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenInvoiceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GenInvoiceReportResult" nillable="true" type="q22:ArrayOfInvoiceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalInvoiceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="toInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalInvoiceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="FinalInvoiceReportResult" nillable="true" type="q23:ArrayOfInvoiceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatuswiseInvoiceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="GroupID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="Status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatuswiseInvoiceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="StatuswiseInvoiceReportResult" nillable="true" type="q24:ArrayOfInvoiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetVendorListResult" nillable="true" type="q25:ArrayOfVendorMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetVendorDetailsResult" nillable="true" type="q26:VendorMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="objVendor" nillable="true" type="q27:VendorMaster" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateVendorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVendorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVendorNameAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVendorNameAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckVendorNameAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetCompanyDetailsResult" nillable="true" type="q28:CompanyMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="PageMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCategoryNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSubCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSubCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSubCategoryNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="Cgst" type="xs:decimal" />
        <xs:element minOccurs="0" name="Sgst" type="xs:decimal" />
        <xs:element minOccurs="0" name="Igst" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateSubCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetCategoryListResult" nillable="true" type="q29:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetSubCategoryListResult" nillable="true" type="q30:ArrayOfSubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkDeleteInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frmInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="toInvoiceNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkDeleteInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BulkDeleteInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthVendorTaxReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthVendorTaxReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="MonthVendorTaxReportResult" nillable="true" type="q31:ArrayOfTaxReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rpt_Sales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrmSalesDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToSalesDt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PrdCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="GroupID" type="xs:int" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rpt_SalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="Rpt_SalesResult" nillable="true" type="q32:ArrayOfSalesReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenCreditNoteReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crNoteNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenCreditNoteReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GenCreditNoteReportResult" nillable="true" type="q33:ArrayOfCreditNoteReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGstRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TaxType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGstRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindGstRateResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>