IMS/TestProject/Service References/InvoiceServiceRef/InvoiceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6829/Services/InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IMSService.Entities" />
  <xs:import schemaLocation="http://localhost:6829/Services/InvoiceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetInvoiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="ToInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="FromInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="GetInvoiceDetailsResult" nillable="true" type="q1:ArrayOfInvoiceDetailsService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="invoiceDetails" nillable="true" type="q2:InvoiceDetailsService" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="customerDetails" nillable="true" type="q3:Customer" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInvoiceDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="productDetails" nillable="true" type="q4:ProductDetails" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInvoiceProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="settlementDetails" nillable="true" type="q5:SettlementDetails" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceSettlementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInvoiceSettlementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="invoiceDetails" nillable="true" type="q6:InvoiceDetailsService" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInvoiceDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="productDetails" nillable="true" type="q7:ProductDetails" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInvoiceProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="settlementDetails" nillable="true" type="q8:SettlementDetails" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceSettlementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInvoiceSettlementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGstRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TaxType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGstRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindGstRateResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceDetailsPatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="ToInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="FromInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceDetailsPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="InvoiceDetailsPatchResult" nillable="true" type="q9:ArrayOfInvoiceCustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceProductPatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="ToInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="FromInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceProductPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="InvoiceProductPatchResult" nillable="true" type="q10:ArrayOfProductDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceSettlementPatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="ToInvoiceNo" type="xs:int" />
        <xs:element minOccurs="0" name="FromInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToInvoiceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromSettlementDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToSettlementDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceSettlementPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IMSService.Entities" minOccurs="0" name="InvoiceSettlementPatchResult" nillable="true" type="q11:ArrayOfSettlementDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPatchSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheetData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="SheetType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPatchSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UploadPatchSheetResult" nillable="true" type="q12:TupleOfstringstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSheetUpdateDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheetData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="SheetType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSheetUpdateDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UploadSheetUpdateDeleteResult" nillable="true" type="q13:TupleOfstringstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>